@font-face {
  font-family: "Proxima Nova";
  src: url("../Fonts/ProximaNova/ProximaNova.ttc");
}

body {
  width: 1280px;
}

.firstSection {
  height: 648px;
}

.firstSection img {
  height: 648px;
  width: 580px;
  float: left;
}

.firstSectionTitle,
.firstSectionConcert {
  font-family: "Proxima Nova" Fallback, sans-serif;
}

.firstSection .cicloName {
  height: 325px;
  width: 700px;
  background: linear-gradient(45deg, #0c2b56, #0f366d, #0c2c59);
  float: left;
  position: relative;
}

.firstSection .cicloInfo {
  background: linear-gradient(45deg, #0c2953, #0b264b, #0c2952);
  height: 325px;
  width: 700px;
  float: left;
}

.information {
  height: 325px;
  width: 700px;
  text-align: left;
  padding-left: 60px;
  line-height: 0;
}

.information .firstSectionTitle {
  color: #2399d5;
  font-size: 16px;
  margin-top: 140px;
}

.information .firstSectionConcert {
  color: #ffffff;
  font-size: 42px;
  margin-bottom: 45px;
}

.information .firstSectionP {
  font-size: 16px;
  color: #ffffff;
}

.cicloInfo {
  text-align: left;
  width: 489px;
  height: 275px;
  align-items: center;
}

.cicloInfo .cicloInfoTitle {
  font-size: 32px;
  color: #2399d5;
  margin-top: 35px;
  margin-bottom: 30px;
}

.cicloInfo .cicloInfoTitleDown {
  font-size: 32px;
  color: #2399d5;
}

.cicloInfo .cicloInfoP {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 40px;
}

.cicloInfoInitial {
  padding-left: 60px;
  line-height: 0;
}

.grid-container {
  padding-left: 60px;
  display: grid;
  gap: 0px 0px;
  grid-template-areas:
    "area area2 . ."
    "area3 area4 . ."
    ". . . .";
  line-height: 0;
}
.area {
  grid-area: area;
}
.area2 {
  grid-area: area2;
}
.area3 {
  grid-area: area3;
}
.area4 {
  grid-area: area4;
}

.secondSection {
  width: 100%;
  height: 960px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #0a1232, #0a1a3b, #092144);
}

.secondSectionTitle {
  background: linear-gradient(45deg, #0c2a55, #0f366d, #0c2b56);
  height: 151px;
  margin-bottom: 48px;
}

.secondSectionTitle p {
  color: #ffffff;
  font-size: 42px;
  text-align: center;
}

.peopleSection {
  height: 825px;
}

.parent {
  width: 1017px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-column-gap: 35px;
  grid-row-gap: 43px;
}

.grid-item1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-item2 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-item3 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-item4 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-item5 {
  grid-area: 1 / 3 / 2 / 4;
}
.grid-item6 {
  grid-area: 2 / 3 / 3 / 4;
}

.parent .sideCol p,
.parent .sideCol h2 {
  margin-left: 40px;
}

.parent .sideCol h2,
.parent .midCol h2 {
  margin-top: 63px;
}

.parent .midCol p,
.parent .midCol h2 {
  margin-left: 110px;
}

.parent h2 {
  color: #ffffff;
  font-size: 32px;
}

.parent p {
  color: #ffffff;
  font-size: 16px;
  font: canela-text;
}

.parent .sideCol {
  width: 270px;
  height: 290px;
}

.parent .midCol {
  width: 411px;
  height: 290px;
}

.parent .ligthCol {
  background: linear-gradient(45deg, #114081, #0F3770, #0C2B56);
}

.parent .darkCol {
  background: linear-gradient(45deg, #0A2345, #0C274D, #0C2952);
}

.secondSection button {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  background-color: Transparent;
  border: #2399d5 1px solid;
  color: white;
  width: 270px;
  height: 60px;
  margin-bottom: 48px;
}

.thirdSection {
  height: 160px;
  background-color: #124285;
}

.leftSide {
  float: left;
  width: 280px;
  margin-left: 100px;
  padding-top: 32px;
}

.leftSide p {
  color: white;
  font: 16px;
}

.thirdSection button {
  font: 15px;
  color: white;
  border: 1px solid #0090cd;
  background-color: Transparent;
  width: 140px;
  height: 40px;
  margin-top: 60px;
  margin-left: 180px;
}

.rigthSide {
  float: right;
}

.rigthSide img {
  height: 70px;
  width: 85px;
  margin-top: 37px;
}

.rigthImg {
  margin-right: 100px;
}

.img {
  margin-right: 60px;
}

.socialImg {
  margin-left: 40px;
}

.headerButton {
  position: absolute;
  bottom: -30px;
  right: 100px;
  color: white;
  background-color: #c99b4f;
  width: 210px;
  height: 60px;
  font-size: 18px;
}

.footer {
  height: 25px;
  background-color: #0b264b;
  color: #ffffff;
}

.enlaces p {
  margin-top: 0;
  text-align: center;
}

.enlaces a {
  margin-top: 0;
  text-align: center;
  color: white;
  text-decoration: none;
}
