.firstSection{
    width: 1280px;
    height: 648px;
}

.firstSection img{
    height: 648px;
    width: 580px;
    float: left;
}

.firstSection .cicloName{
    height: 325px;
    width: 700px;
    background-color: #124285;
    float: left;
}

.firstSection .cicloInfo{
    background-color: #0A2244;
    height: 325px;
    width: 700px;
    float: left;
}

.information{
    height: 134px;
    width: 403px;
    text-align: left;
    padding-left: 20%;
    padding-top: 10%;
}

.information .firstSectionTitle{
    color: #2399D5;
    font-size: 16px;
}

.information .firstSectionConcert{
    color: #FFFFFF;
    font-size: 42px;
}

.information .firstSectionP{
    font-family: canela-text;
    font-size: 16px;
    color: #FFFFFF;
}

.cicloInfo{
    text-align: left;
    width: 489px;
    height: 275px;
    align-items: center;
}

.cicloInfo .cicloInfoTitle{
    font-size: 32px;
    color: #2399D5;
}

.cicloInfo .cicloInfoP{
    font-size: 16px;
    color: #FFFFFF;
}

.cicloInfoInitial{
    padding-left: 20%;
}

.grid-container {
    padding-left: 20%;
    display: grid;
    gap: 0px 0px;
    grid-template-areas:
      "area area2 . ."
      "area3 area4 . ."
      ". . . .";
      line-height: 0;
  }
  .area { grid-area: area; }
  .area2 { grid-area: area2; }
  .area3 { grid-area: area3; }
  .area4 { grid-area: area4; }

  .secondSection{
      width: 1279px;
      height: 825px;
      display: flex;
        flex-direction: column;
  }

  .secondSectionTitle{
      background-color: #124285;
      width: 1279px;
      height: 151px;
  }

  .secondSectionTitle p{
    color: #FFFFFF;
    font-size: 42px;
    text-align: center;
  }

  .peopleSection{
      height: 825px;
      width: 1279px;
      background-color: #0A1231;
  }

  