body {
  width: 375px;
}

.firstSection img {
  height: 375px;
}

.cicloName {
  height: 210px;
  background: linear-gradient(to bottom right, #0d2c57, #0f356a);
  line-height: 0;
}

.cicloName .firstSectionTitle {
  font-size: 16px;
  color: #2399d5;
  margin-top: 40px;
}

.cicloName .firstSectionP {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 70px;
}

.cicloName .firstSectionConcert {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 25px;
}

.information {
  margin-left: 30px;
  float: left;
}

.cicloInfo {
  height: 283px;
  background: linear-gradient(45deg, #0c2a53, #0b264c);
  display: flex;
  flex-direction: column;
}

.cicloInfoInitial {
  margin-left: 30px;
  line-height: 0px;
}

.cicloInfo .cicloInfoTitle {
  color: #2399d5;
  font-size: 24px;
}

.cicloInfo .cicloInfoP {
  color: #ffffff;
  font-size: 14px;
}

.cicloInfo .cicloInfoTitleDown {
  color: #2399d5;
  font-size: 18px;
}

.headerButton {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  background-color: #c99b4f;
  width: 201px;
  height: 40px;
  font-size: 16px;
}

.grid-container {
  padding-left: 30px;
  display: grid;
  gap: 0px 0px;
  grid-template-areas:
    "area area2 . ."
    "area3 area4 . ."
    ". . . .";
  line-height: 0;
}
.area {
  grid-area: area;
}
.area2 {
  grid-area: area2;
}
.area3 {
  grid-area: area3;
}
.area4 {
  grid-area: area4;
}

.secondSectionTitle {
  color: #ffffff;
  font-size: 28px;
  background: linear-gradient(45deg, #0c2b57, #0f356a, #0f366d);
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  height: 90px;
}

.peopleSection {
  display: flex;
  flex-direction: column;
  height: 1094px;
  background-color: #0a1231;
}

.parent {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  display: grid;
}

.grid-item1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-item2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-item3 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-item4 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-item5 {
  grid-area: 3 / 1 / 4 / 2;
}
.grid-item6 {
  grid-area: 3 / 2 / 4 / 3;
}

.parent .sideCol p,
.parent .sideCol h2 {
  margin-left: 30px;
}

.parent .sideCol h2,
.parent .midCol h2 {
  margin-top: 63px;
}

.parent .midCol p,
.parent .midCol h2 {
  margin-left: 30px;
}

.parent h2 {
  color: #ffffff;
  font-size: 24px;
}

.parent p {
  color: #ffffff;
  font-size: 14px;
}

.parent .midCol,
.parent .sideCol {
  width: 172px;
  height: 216px;
}

.parent .grid-item3,
.parent .grid-item1,
.parent .grid-item5 {
  background: linear-gradient(45deg, #124285, #0f376f, #0c2c58);
}

.parent .grid-item2,
.parent .grid-item4,
.parent .grid-item6 {
  background: linear-gradient(45deg, #0a2345, #0b264b, #0c2953);
}

.thirdSection {
  height: 468px;
  background-color: #124285;
}

.leftSide {
  float: left;
  width: 280px;
  margin-left: 100px;
  padding-top: 50px;
}

.leftSide p {
  color: white;
  font: 16px;
}

.thirdSection button {
  font: 15px;
  color: white;
  border: 1px solid #0090cd;
  background-color: #c99b4f;
  width: 140px;
  height: 40px;
  margin-top: 35px;
  margin-left: 115px;
}

.leftSide {
  float: left;
  text-align: center;
  margin-left: 40px;
}

.leftSide p {
  color: white;
  font: 16px;
}

.rigthSide img {
  height: 70px;
  width: 70px;
  margin-top: 50px;
  margin-left: 45px;
}

.socialImg {
  margin-left: 40px;
}

.footer {
  height: 25px;
  background-color: #0b264b;
  color: #ffffff;
}

.enlaces p {
  margin-top: 0;
  text-align: center;
  font-size: 11px;
  padding-top: 5px;
}

.enlaces a {
  margin-top: 0;
  text-align: center;
  color: white;
  text-decoration: none;
}
