body{
    width: 375px;
}

.firstSection img {
    height: 375px;
  }

 .cicloName{
     height: 210px;
     background-color: #124285;
 }

 .cicloName .firstSectionTitle{
     font-size: 16px;
     color: #2399D5;
 }

 .cicloName .firstSectionP{
    font-size: 16px;
    color:#FFFFFF;
 }

 .cicloName .firstSectionConcert{
     font-size: 28px;
     color:#FFFFFF;
 }

 .information{
     margin-left: 30px;
     float:left;
 }

 .cicloInfo{
     height: 283px;
     background-color: #0A2244;
     display: flex;
    flex-direction: column;
 }

 .cicloInfoInitial {
     margin-left: 30px;
 }

 .cicloInfo .cicloInfoTitle{
     color: #2399D5;
     font-size: 24px;
 }

 .cicloInfo .cicloInfoP{
    color:#FFFFFF;
    font-size: 14px;
}

.cicloInfo .cicloInfoTitleDown{
    color: #2399D5;
    font-size: 18px;
}

 .headerButton{
    position: absolute;
    bottom: 50px;
    right: 30px;
    color: white;
    background-color: #C99B4F;
    width: 201px;
    height: 40px;
    font-size: 16px;
}


.grid-container {
    padding-left: 30px;
    display: grid;
    gap: 0px 0px;
    grid-template-areas:
      "area area2 . ."
      "area3 area4 . ."
      ". . . .";
    line-height: 0;
  }
  .area {
    grid-area: area;
  }
  .area2 {
    grid-area: area2;
  }
  .area3 {
    grid-area: area3;
  }
  .area4 {
    grid-area: area4;
  }
  